* {
    box-sizing: border-box;
  }
  
  /* Font */
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style for header */
  header {
    background-color: #666666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    border: 1px solid #555;
  }
  
  /* Container for flexboxes */
  section {
    display: -webkit-flex;
    display: flex;
    border-right: 1px solid #555;
    border-left: 1px solid #555;
  }
  
  /* Style the navigation menu */
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #f1f1f1;
    padding: 0px;
    border-right: 1px solid #555
  }
  
  /* Style the list inside the menu */
  nav ul {
      list-style-type: none;
  /* Additional styling */
      margin: 0;
      padding: 0px;
      background-color: #f1f1f1;
      height: fit-content;
      position: static;
      overflow: auto;
      border: 2px solid #555;
  }
  
  /* Added nav */
  nav li {
      display: block; 
      text-align: center;
      border-bottom: 1px solid #555;
  }
  
  li a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
  }
  
  /* Nav menu active and inactive color coding/styling */
  li a.active {
      background-color: #f34079;
      color: #f1f1f1;
  }
  
  li a:hover:not(.active) {
      background-color: #555;
      color: #f1f1f1;
  }
  
  li:last-child {
      border-bottom: none;
  }
  
  /* Style the content */
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    border: 1px solid #555;
  }
  
  /* Responsive layout */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
  
  /* Paragraph text alignment */
  p {
      align-content: center;
  }
  
  /* Button styling */
  button {
      align-content: center;
  }
  
  .joinBtn {
      width: 10em;
      height: 5ex;
      background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
      border: none;
      border-radius: 5px;
      font-weight: bold;
      color: white;
      cursor: pointer;
    }
  .joinBtn:active {
      box-shadow: 2px 2px 5px #fc894d;
    }
  
  div.subscribe {
      padding-top: 200px;
      padding-right: 25%;
      padding-bottom: 50px;
      padding-left: 80px;
      border: 5px solid #000;
      display:flex;
      justify-content: center;
  }

  /* Js styling on Portfolio Page */
#hello {
    font-style: italic;
    color:#f34079
}   

#demo {
    font-style: italic;
    color:rgb(76, 0, 255)
}

/* Style for contact page by "text", "email" "textarea" inputs. May need to split this out to a different css if I get more text fields besides contact page. */
input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 16px;
  resize: vertical
}

/* Contact page form background and padding */
.concontact {
  border-radius: 2px;
  background-color: #f1f1f1;
  padding: 2px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #f34079;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Dynamic button color effect. */
input[type=submit]:hover {
  background-color: #fc894d;
}